// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.header-wrapper {
  min-width: 600px;
  height: 118px;
  img {
    display: inline-block;
    float: left; 
    height: 115px;
  }
  .header-text {
    float: left;
    color: #363837;
    display: inline-block; 
  }
}

.content-wrapper {
  margin: 25px;
  p {
    color: grey;
  }
}